body {
          margin: 0px;
          
      }

 
.navbar {
    background-color: rgba(22, 21, 21, 0.808);
    
}      

.navbar div {
    display: none;
}

.navbar .toggle,
.navbar .brand {
    display: inline-block;
}

.navbar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: rgba(27, 27, 27, 0.829);
}

.navbar .link:hover,
.navbar .link:active {
    color: black;
    background: #fff;
}

.navbar .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar .toggle {
    padding: 1em;
    color: white;
}


@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
    }

    .navbar .left
    .navbar .right {
        display: flex;
    }
}